*{
  margin:0 ;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Abel', sans-serif;
}
html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.mainBox
{
  color: white;
}
.pink{
  background-color: #E8B0F1;
  height: 100vh;
}
.find{
  background-image: url(../../assets/bg_2.jpg);
}
.howItWork{
  background-image: url(../../assets/bg_1.jpg);
}
.howItWork:hover{
  transition: .5s;
  background-image: url(../../assets/bg_1_hover.jpg);
}
.find:hover{
  transition: .5s;
  background-image: url(../../assets/bg_2_hover.jpg);
}
.black:hover{
  transition: .5s;
  background-image: url(../../assets/bg_3_hover.jpg);
}
.black{
  background-color: black;
  height: 100vh;
  background-image: url(../../assets/bg_3.jpg);
  position: relative;
}
.downText
{
  position: absolute;
  bottom: 30%;
}
.mainBox h4{
  font-size: 3rem;
}
.mainBox p{
  font-size: 2rem;
}
.clickPlace{
  border:0;
}
.buttonLogSign
{
  width: 50%;
}
a:hover{
  text-decoration: none;
}
.modalWindow{
  height: 400px!important;
  width: 400px!important;
}
.submitBtn{
  height: 50px;
}
.modalBg
{
  background-color: rgba(255, 255,255, 0.99);
  border: 1px solid white;
}
.nav-item a{
  font-weight: 700;
}
.buttonLogSign{
  color: black!important;
  font-weight: 500;
  border: 1px solid black;
}
.buttonLogSign:hover{
  color: white!important;
  transition: .5s;
  background-color: black;
}
.form-control.form-control-sm{
  border: 1px solid black;
}
.form-control.form-control-sm::placeholder{
  color: black!important;
  font-weight: 500;
}
.howItWork:hover{
  color: white!important;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .mainContentHome{
    flex-direction: column;
    height: 100%;
  }
  .mainContentHome{
    flex-direction: column;
    height: 30%;
  }
  .howItWork{
    flex-basis: content;
    padding-bottom: 30%;
  }
}
