<div class="justify-container ">
  <div class="row mainContentHome">
    <a class="col pink howItWork mainBox">
      <h4 class="pt-5 pl-3">HOW IT WORKS</h4>
      <p class="w-75 mt-5 text-center mr-auto ml-auto">Our service keep your
        document save and person who have not access link, never open
        this document </p>
    </a>
    <a type="button" class="col clickPlace p-0" (click)="questionLogOut()" data-toggle="modal" data-target="#modalLRForm" id="logRegBtn">
      <div class="col black mainBox">
        <div class="downText mb-0">
          <h4 class="pt-5 pl-3">HOW TO START</h4>
          <p class="pl-3">If you don’t have no account register it, else log in.
            Upload your document on our site, share secret link to your colleagues or someone else.</p>
        </div>
      </div>
    </a>
    <!-- Modal -->
    <div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modalWindow w-50 ml-auto mr-auto mt-5" role="document">
        <!--Content-->
        <div class="modal-content w-100 h-100 modalBg">

          <!--Modal cascading tabs-->
          <div class="modal-c-tabs p-3">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3 d-flex justify-content-center" role="tablist">
              <li class="nav-item">
                <a class="nav-link active pl-3 pr-3" data-toggle="tab" href="#panel7" role="tab">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-3 pr-3" data-toggle="tab" href="#panel8" role="tab">Register</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link pl-3 pr-3 .text-danger" type="button" (click)="closeModal()">Close</a>
              </li>
            </ul>

            <!-- Tab panels -->
            <div class="tab-content">
              <!--Panel 7-->
              <div class="tab-pane fade in show active" id="panel7" role="tabpanel">
                <!--Body-->
                <div class="modal-body mb-1">
                  <div class="md-form form-sm mt-5">
                    <em class="fas fa-envelope prefix"></em>
                    <input type="email" [(ngModel)]="email" required id="modalLRInput10" class="w-75 ml-auto mr-auto pl-3 form-control form-control-sm validate" placeholder="Email">
                  </div>

                  <div class="md-form form-sm mt-3">
                    <em class="fas fa-lock prefix"></em>
                    <input [(ngModel)]="password" required type="password" id="modalLRInput11" class="w-75 ml-auto mr-auto pl-3 form-control form-control-sm validate" placeholder="Password">
                  </div>
                  <div class="text-center mt-5 w-50 ml-auto mr-auto submitBtn">
                    <button class="btn buttonLogSign h-75" (click)="Login()">Log in</button>
                  </div>
                </div>
              </div>
              <!--/.Panel 7-->

              <!--Panel 8-->
              <div class="tab-pane fade" id="panel8" role="tabpanel">

                <!--Body-->
                <div class="modal-body">
                  <div class="md-form form-sm mb-0">
                    <em class="fas fa-envelope prefix"></em>
                    <input type="text" [(ngModel)]="name" required id="modalLRInput0" class="w-75 mt-5 ml-auto mr-auto pl-3 form-control form-control-sm validate" placeholder="Your name">
                  </div>
                  <div class="md-form form-sm mb-0">
                    <em class="fas fa-envelope prefix"></em>
                    <input type="email" [(ngModel)]="email" required id="modalLRInput12" class="w-75 ml-auto mt-3 mr-auto pl-3 form-control form-control-sm validate" placeholder="Email">
                  </div>
                  <div class="md-form form-sm mb-0">
                    <em class="fas fa-lock prefix"></em>
                    <input type="password" [(ngModel)]="password" required id="modalLRInput13" class="w-75 ml-auto mt-3 mr-auto pl-3 form-control form-control-sm validate" placeholder="Your password">
                  </div>

                  <div class="md-form form-sm mb-4">
                    <em class="fas fa-lock prefix"></em>
                    <input type="password" [(ngModel)]="passwordConfirm" required id="modalLRInput14" class="w-75 ml-auto mt-3 mr-auto pl-3 form-control form-control-sm validate" placeholder="Repeat password">
                  </div>
                  <div class="text-center mt-5 w-50 ml-auto mr-auto submitBtn">
                    <button class="btn  buttonLogSign h-75" (click)="register()">Sign up<em class="fas fa-sign-in ml-1"></em></button>
                  </div>

                </div>
                <!--Footer-->

              </div>
              <!--/.Panel 8-->
            </div>

          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
    <a type="button" routerLink="/find-document" class="col clickPlace p-0">
      <div class="col pink find mainBox">
        <h4 class="pt-5 pl-3">FIND PUBLIC DOCUMENTS</h4>
        <p class="w-75 mt-5 pl-3 text-center mr-auto ml-auto">You can upload documents and make it public, every
          person who need this can find it on our site</p>
      </div>
    </a>
  </div>
</div>
