body{
background-color: #ffffff;
  font-family: 'Space Grotesk', sans-serif;
  box-sizing: border-box;
  position: relative;
  height: auto;
}
.navbar-brand{
  font-size: 1.3rem!important;
  border: 1px solid white;
}
.user-name{
  border-bottom: 1px solid white;
}
.navbar.navbar-expand-lg
{
  background: linear-gradient(315deg, rgb(213, 202, 200) 0%, rgb(114, 135, 150) 100%);
  padding-bottom: 20px;
}
.navbar a{
  color: #ffffff!important;
}
.navbar-img img {
  height: 60px;
  border-radius: 50px;
}
.navbar-img:hover{
  cursor: pointer;
}
.mainContentHome
{
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
}
.mainContent
{
  height: 100%;
  width: 70%;
  margin-left: 15%;
  background-color: #fff;
}
.emptySpace{
  height: 200px;
  display: block;
  overflow: auto;
}
.footer{
  bottom: 0;
  height: 100px;
  width: 100%;
  display: block;
  background-color: black;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.tags-wrapper:hover {
  transition: .3s;
  border: 3px solid green;
}

.tags-wrapper {
  background:white;
  overflow:hidden;
  border: 1px solid green;
  width:100%;
  background-image: -webkit-linear-gradient(top, rgb(238, 238, 238) 1%, white 15%);
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}
.tags-wrapper ul {
  margin:0px;
  padding:0px;
}
.tags-wrapper li {
  float:left;
}
.tags-wrapper li.tag {
  font-family:verdana;
  font-size:11px;

  border-radius:3px;
  list-style: none;
  background-clip: padding-box;
  background-color: rgb(228, 228, 228);
  background-image:-webkit-linear-gradient(top, rgb(244, 244, 244) 20%, rgb(240, 240, 240) 50%, rgb(232, 232, 232) 52%, rgb(238, 238, 238) 100%);
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: rgb(51, 51, 51);
  border: 1px solid rgb(170, 170, 170);
  line-height: 13px;
  padding: 1px 3px 3px 5px;
  margin: 3px 0 3px 5px;
}
.tags-wrapper li a {
  text-decoration:none;
  color:white;
  padding:2px;
  display:inline-block;
  margin-left:6px;
  color: rgb(51, 51, 51);
}
.tags-wrapper li a:hover {
  color:#222;
}
.tags-wrapper input {
  display:none;
}
.tags-wrapper li.tags-input {
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.tags-wrapper li input {
  display:block;
  background:trasparent;
  outline:none;
  border:none;
  font-size:11px;
  height: auto;
  width:30px;
  margin: 4px;
}
.tags-wrapper .autofill-bg {
  position:relative;
  top:4px;
}
.tags-wrapper ul li::marker{
  color: #f4f4f4;
}
.mainmenubtn {
  color: white;
  cursor: pointer;
  padding: 20px;
  margin-top: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}
#avatar{
  height: 60px;
  width: 60px;
}
.dropdown-child {
  display: none;
  background-color: transparent;
  min-width: 200px;
}

.dropdown-child a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
  margin-left: 3rem;
  padding-left: 0!important;
  padding-top: 5% !important;
  display: block;
}

@media (max-width: 800px) {

  .dropdown:hover .dropdown-child
  {
    display: block!important;
  }
}
