<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex align-items-end">
    <div class="collapse navbar-collapse d-flex align-items-end" id="navbarText">
      <div class="dropdown">
        <a class="mainmenubtn ml-5 navbar-brand p-2 pb-0" >SHARE DOCUMENT</a>
        <div class="dropdown-child">
          <a class="nav-link pb-0" routerLink="/">HOME <span class="sr-only">(current)</span></a>
          <a class="nav-link pb-0" routerLink="/find-document">FIND DOCUMENT</a>
          <a class="nav-link pb-0"routerLink="/account-page">{{ user?.userName | uppercase}}</a>
        </div>
      </div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link p-2 pb-0" routerLink="/">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2 pb-0" routerLink="/find-document">FIND DOCUMENT</a>
        </li>
      </ul>
      <a routerLink="/account-page" class="mr-5 row user-block">
        <a class="nav-link d-flex align-items-center user-name"routerLink="/account-page">{{ user?.userName }}</a>
        <span class="navbar-img ml-3" id="avatar">
          <img *ngIf="this.user?.avatarName !== null; else standImgNav" [src]="'http://127.0.0.1:8887/'+ this.user?.avatarName" class="h-100 w-100" alt="avatar">
          <ng-template #standImgNav>
            <img src="https://www.mesh.co.ke/images/profiles/default.jpg"  alt="Avatar">
           </ng-template>
        </span>
      </a>
    </div>
  </nav>
</div>
<div class="mainContent">
  <div class="emptySpace"></div>
  <h2 class = "mt-5 text-center">Sory, but page does not exist</h2>
  <div class="w-100 d-flex justify-content-center mt-5">
    <button class="btn btn-outline-dark my-2 my-sm-0" type="button" routerLink='/'>HOME PAGE</button>
  </div>
</div>
