.PageTitleDiv{
  margin-top: 2%;
  background: linear-gradient(315deg, rgb(230, 182, 200) 0%, rgb(114, 165, 150) 100%);
  box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.75);
  height: 200px;
}
.PageTitle{
  color: white;
  border: 3px solid white;
  padding: 2% 8%;
}
#formDocument{
  padding: 5%;
}
@media (max-width: 1330px) {
  .navbar-nav.mr-auto{
    flex-direction: row!important;
  }
}
@media (max-width: 1000px) {
  .mainContent form{
    width: 100% !important;
  }
  .navbar-nav.mr-auto{
    flex-direction: row!important;
  }
  .navbar-nav.mr-auto li
  {
    display: none;
  }
  .user-block{
    display: none;
  }
}
@media (max-width: 600px) {
}

@media (max-width: 410px) {
  .PageTitle{
    font-size: 2rem;
  }
  #formDocument{
    padding: 0!important;
  }
}
#title,
#content,
.input-group.mb-3,
#dropdownMenuButton{
  border: 1px solid green;
}
.input-group.mb-3{
  border-radius: 5px;
}
#sendDocument{
  background-color: darkgreen;
  color: white;
}

#title:hover,
#content:hover,
.input-group.mb-3:hover {
  transition: .3s;
  border: 3px solid green;
}

#sendDocument,
#dropdownMenuButton{
  background-color: darkgreen;
  color: white;
}
