<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex align-items-end">
    <div class="collapse navbar-collapse d-flex align-items-end" id="navbarText">
      <div class="dropdown">
        <a class="mainmenubtn ml-5 navbar-brand p-2 pb-0" >SHARE DOCUMENT</a>
        <div class="dropdown-child">
          <a class="nav-link pb-0" routerLink="/">HOME <span class="sr-only">(current)</span></a>
          <a class="nav-link pb-0" routerLink="/find-document">FIND DOCUMENT</a>
          <a class="nav-link pb-0"routerLink="/account-page">{{ user?.userName | uppercase}}</a>
        </div>
      </div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link p-2 pb-0" routerLink="/">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2 pb-0" routerLink="/find-document">FIND DOCUMENT</a>
        </li>
      </ul>
      <a routerLink="/account-page" class="mr-5 row user-block">
        <a class="nav-link d-flex align-items-center user-name"routerLink="/account-page">{{ user?.userName }}</a>
        <span class="navbar-img ml-3" id="avatar">
          <img *ngIf="this.user?.avatarName !== null; else standImgNav" [src]="'http://127.0.0.1:8887/'+ this.user?.avatarName" class="h-100 w-100" alt="avatar">
          <ng-template #standImgNav>
            <img src="https://www.mesh.co.ke/images/profiles/default.jpg"  alt="Avatar">
           </ng-template>
        </span>
      </a>
    </div>
  </nav>
</div>
<!--Content-->
<div class="mainContent">
  <div class="PageTitleDiv d-flex align-items-center justify-content-center">
    <h1 class="m-5 PageTitle">FIND PUBLIC DOCUMENT</h1>
  </div>
  <div class="settingsPanel pt-3 pl-4 pr-4 navbar navbar-light">
    <div class="dropdown">
      <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort by
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a type="button" class="dropdown-item" (click)="Sort('FromOldToNew')">From old to new</a>
        <a type="button" class="dropdown-item" (click)="Sort('FromNewToOld')">From new to old</a>
        <a type="button" class="dropdown-item" (click)="Sort('Heading')">Heading</a>
      </div>
    </div>
    <form class="form-inline">
      <input class="form-control mr-sm-2" id="searchInput" type="search" [(ngModel)]="filterName" [ngModelOptions]="{standalone: true}" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-dark my-2 my-sm-0" id="searchBtn" (click)="Search(filterName)" type="submit">Search</button>
      <button class="btn btn-outline-dark my-2 my-sm-0 ml-2 cancelBtn" id="cancelBtn" (click)="GetDocuments();filterName=''" type="submit">Cancel</button>

    </form>
  </div>
  <div class="documentList">
    <div class="row documentContainer p-3 pr-5" *ngFor="let document of documents">
      <div class="document w-100">
        <div class="row pl-5 d-flex justify-content-around align-items-center">
          <a class="col-2" >{{ document.title| slice:0:30 }}...</a>
          <div class="col-3">
            <small class="ml-3" *ngFor="let tag of document.tags">{{ tag.tagName }}</small>
          </div>
            <small class="pl-5 col">{{document.date|date }}</small>
            <button [routerLink]="['/show-document', document.id]" routerLinkActive="active" class="btn col btn-outline-dark h-50 ml-5 editButton">Show</button>
        </div>
      </div>
    </div>
  </div>
  <mat-paginator [length] = "this.length"
                 [pageSize] = "6"
                 [pageSizeOptions]="[12, 16, 20]"
                  (page)="OnPageChanges($event)">
  </mat-paginator>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
