*{
  box-sizing: border-box;
}
body{
  background-color: rgb(223, 223, 223);
  font-family: 'Space Grotesk', sans-serif;
  box-sizing: border-box;
}
#cancelBtn{
  color: white;
  margin-left: 2%;
  background-color: brown;
}
#cancelBtn:hover,
.deleteButton:hover{
  transition: .5s;
  background-color: rgb(118, 10, 0);
}

#searchBtn{
  color: white;
  background-color: green;
}
#searchBtn:hover,
#dropdownMenuButton:hover,
#addDocument:hover,
.editButton:hover
{
  background-color: darkgreen;
  color: white;
}
#searchInput:hover{
  border: 2px solid green ;
}
#searchInput,
#dropdownMenuButton,
#addDocument,
.deleteButton,
.editButton
{
  border: 1px solid green ;
}
.documentContainer
{
  border: 1px solid green;
  margin: 2%;
}
.documentContainer:hover
{
  transition: .5s;
  transform: scale(1.05);
}
.navbar-img img {
  height: 60px;
  border-radius: 50px;
}
.navbar-img:hover{
  cursor: pointer;
}
.img-fluid{
  max-height: 80%;
}
.profileInfo{
  margin-left: 5%;
}
.profileContent{
  padding-top: 20px;
  height: 30%;
  background: linear-gradient(315deg, rgb(213, 202, 200) 0%, rgb(114, 135, 150) 100%);
}
.avatartProfile img
{
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 150px;
}
.avatartProfile img:hover
{
  cursor: pointer;
  opacity: .3;
}
.avatartProfile img::after
{
  content: "<p>Change im</p>";
}
.profileInfo h3,
.profileInfo p {
  padding: 5px;
  color: #fff;
  background-color: #333;
  display: inline-block;
}


.ChangeImg {
  display: block;
  position: relative;
}

.ChangeImg:after {
  border-radius: 150px;
  content: 'CHANGE IMAGE';
  font-weight: 700;
  color: #fff;
  position: absolute;
  padding-top: 45%;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  opacity: 0; }

.ChangeImg:before {
  content: '';
  position:
    absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../../assets/skyscraper.jpg);
  opacity: 0;
}

.ChangeImg:hover:before,
.ChangeImg:hover:after {
  opacity: 1;
}
.settingsPanel{
  background-color: #ffffff;
}
.pagination li a{
  color: #000;
}
.pagination{
  position: absolute;
  bottom: 0;
  left: 45%;
}
.publicAccess,
.privateAccess,
.linkAccess{
  background-color: green;
  color: #fff;
  padding: 5px;
  border-radius: 20px;
}
.privateAccess{
  background-color: brown;
}
.linkAccess{
  background-color: orange;
}
.documentDescription
{
  position: relative;
  border-left: 1px solid #333;
}
.buttons{
  position: absolute;
  bottom: 5%;
}
hr{
  background-color: #333;
}
.ContentContainer{
  width: 80%;
  background-color: #fff;
  margin-left: 10%;
}
.emptySpace{
  height: 200px;
}
.PageTitleDiv{
  margin-top: 2%;
  background: linear-gradient(315deg, rgb(230, 182, 200) 0%, rgb(114, 165, 150) 100%);
  box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.75);
  height: 200px;
}
.PageTitle{
  color: white;
  border: 3px solid white;
  padding: 2%;
}
.dropdown-item{
  color: black!important;
}
.dropdown-item:hover{
background-color: #343a40;
  color: white!important;
}
@media (max-width: 1300px) {
  .documentList{
    display: flex!important;
    flex-wrap: wrap;
  }
  .documentList div{
    width: 25%;
    padding: 2% !important;
  }
  .documentList div div{
    width: 25%;
    height: 100%;
  }
  .documentList div div button{
    max-height: 30px!important;
    min-height: 30px!important;
  }
  .documentList div div div small,
  .documentList div div div{
    padding-left: 0!important;
    padding-bottom: 2%;
  }
  .documentList div div div{
    margin-left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;

  }
  .documentList div div div *{
    width: 100%;
    max-width: none;
    padding: 0;
    margin: 0!important;
  }
  .navbar-nav.mr-auto{
    flex-direction: row!important;
  }

}
@media (max-width: 800px) {
  .documentList div{
    width: 46%;
  }
  .settingsPanel form{
    width: 75%;
  }
  .settingsPanel form button{
    width: 25%;
  }
  .settingsPanel form input{
    width: 40%;
  }
  .navbar-nav.mr-auto{
    flex-direction: row!important;
  }
  .navbar-nav.mr-auto li
  {
    display: none;
  }
  .user-block{
    display: none;
  }
}
@media (max-width: 620px) {
  .settingsPanel
  {
    padding: 1% !important;
  }
  .settingsPanel form{
    width: 100%;
  }
  .settingsPanel form button{
    width: 48%;
    margin-top: 0!important;
  }
  .settingsPanel form input{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    margin-right: 0!important;
  }
  .cancelBtn{
    margin-left: 2%;
  }

}

@media (max-width: 400px) {
  .documentList div{
    width: 100%;
  }
  .PageTitle{
    font-size: 2rem;
  }
}
