*{
  box-sizing: border-box;
}
body{
  font-family: 'Space Grotesk', sans-serif;
  box-sizing: border-box;
}

.navbar-img img {
  height: 60px;
  border-radius: 50px;
}
.navbar-img:hover{
  cursor: pointer;
}
.mainContent
{
  height: 100vh;
  width: 70%;
  margin-left: 15%;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}
.img-fluid{
  max-height: 80%;
}
.profileInfo{
  margin-left: 5%;
}
.profileContent{
  padding-top: 20px;
  height: 30%;
  background: linear-gradient(315deg, rgb(213, 202, 200) 0%, rgb(114, 135, 150) 100%);
}
.avatartProfile img
{
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 150px;
}
.avatartProfile img:hover
{
  cursor: pointer;
  opacity: .3;
}
.avatartProfile img::after
{
  content: "<p>Change im</p>";
}
.profileInfo h3,
.profileInfo p {
  padding: 5px;
  color: #fff;
  background-color: #333;
  display: inline-block;
}

.documentContainer
{
  border: 1px solid #999;
  margin: 2%;
}
.settingsPanel{
  background-color: #ffffff;
}
.pagination li a{
  color: #000;
}
.pagination{
  position: absolute;
  bottom: 0;
  left: 45%;
}
.publicAccess,
.privateAccess,
.linkAccess{
  background-color: green;
  color: #fff;
  padding: 5px;
  border-radius: 20px;
}
.privateAccess{
  background-color: brown;
}
.linkAccess{
  background-color: orange;
}
.documentDescription
{
  position: relative;
  border-left: 1px solid #333;
}
.buttons{
  position: absolute;
  bottom: 5%;
}
hr{
  background-color: #333;
}
.ContentContainer{
  width: 80%;
  background-color: #fff;
  margin-left: 10%;
}
.emptySpace{
  height: 200px;
}
.formComment{
  width: 60%;
  padding: 5%;
  color: #ffffff;
  border: 1px solid black;
}
.formComment textarea{
  border: 1px solid black;
}

#commentHelp{
  color: #ffffff!important;
}
.DocumentEditContent{
  resize: none;
}
.commentList
{
  width: 80%;
}
.comment{
  border: 1px solid black;
  padding: 5% !important;
  margin-bottom: 2%;
}
.documentDescription{
  min-height: 600px;
}
label[for="comment"]
{
  color: grey;
}
#comment{
  padding: 5%;
}
.docPrew
{
  overflow: auto;
  height: auto;
  position: relative;
}
.card-dock{
}
.card-text{
  overflow: hidden;
}
.card{
  height: 300px!important;
  position: relative;
}
.cTitle{
  font-size: 0.8rem;
  height: 50px;
  font-weight: 700;
}
.cBtn{
  font-size: 0.8rem;
  font-weight: 700;
}
button.cBtn:hover{
  color: white!important;
  background-color: #a20f1c!important;
}
.cBtn:hover{
  color: white!important;
}
.border-black{
  border: 1px solid black;
  padding: 2%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.add-file-btn{
  position: absolute;
  bottom: 0;
}
.date{
  margin-left: 3%;
  color: white;
  padding-right: 1rem;
  background-color: green;
}
.PageTitleDiv{
  margin-top: 5%;
  margin-bottom: 5%;
  background: linear-gradient(315deg, rgb(230, 182, 200) 0%, rgb(114, 165, 150) 100%);
  box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.75);
  height: 200px;
}
.PageTitle{
  color: white;
  border: 3px solid white;
  padding: 2% 8%;
}
@media (max-width: 1330px) {
  .navbar-nav.mr-auto{
    flex-direction: row!important;
  }
  .card-dock{
    flex-direction: row!important;
  }
  .card-dock div{
    width: 45% !important;
  }
  .card-dock div img{
    width: 100% !important;
    height: 50% !important;
  }
  .card-dock div div{
    width: 100% !important;
    height: 50% !important;
  }
}
@media (max-width: 1000px) {
  .navbar-nav.mr-auto{
    flex-direction: row!important;
  }
  .navbar-nav.mr-auto li
  {
    display: none;
  }
  .user-block{
    display: none;
  }
  .card-dock{
    height: 600px;
    overflow: auto;
  }
  .card-dock div{
    width: 100% !important;
  }
  .card-dock div img{
    width: 100% !important;
    height: 50% !important;
  }
  .card-dock div div{
    width: 100% !important;
    height: 50% !important;
  }
}
.fileType{
  background-color: darkgreen;
  color: white;
  font-weight: 500;
}
.formComment{
  margin-top: 5%;
  box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
  border: 1px solid green;
}
.docPrewTitle{
  color: darkgreen;
  padding-top: 1%;
  padding-bottom: 1%;
}
#comment:hover{
  transition: .3s;
  border: 2px solid green;
}
.formComment input,
.comment{
  border: 1px solid green;
}
.comment:hover{
  transition: .3s;
  transform: scale(1.05);
  border: 3px solid green;
}
.comment small{
  background-color: green;
  color: white;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 2%;
}
.formComment input.btn:hover{
  color: white;
  background-color: green;
}

.commentTitle{
}
@media (max-width: 1000px) {
  .formComment{
    width: 100%;
    box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.75);
  }
  .commentList{
    padding: 0!important;
  }

}
@media (max-width: 600px) {
  .docPrew{
    width: 100%!important;
    order: 2;
  }
  .documentDescription{
    width: 100% !important;
    order: 1;
    border-left: 0;
    min-height: auto;
  }
  .card img{
    padding-left: 15%!important;
    padding-right: 15% !important;
  }
  #comment{
    height: 100% !important;
  }
  .card div h5{
    width: 100%;
    text-align: center;
  }
  .card div a,
  .card div button{
    width: 75% !important;
  }
  .comment div{
    padding-left: 10%;
  }
}
.resizeN{
  resize: none!important;
}
@media (max-width: 410px) {
  .PageTitle{
    font-size: 2rem;
  }
}
