<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex align-items-end">
    <div class="collapse navbar-collapse d-flex align-items-end" id="navbarText">
      <div class="dropdown">
        <a class="mainmenubtn ml-5 navbar-brand p-2 pb-0" >SHARE DOCUMENT</a>
        <div class="dropdown-child">
          <a class="nav-link pb-0" routerLink="/">HOME <span class="sr-only">(current)</span></a>
          <a class="nav-link pb-0" routerLink="/find-document">FIND DOCUMENT</a>
          <a class="nav-link pb-0"routerLink="/account-page">{{ user?.userName | uppercase}}</a>
        </div>
      </div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link p-2 pb-0" routerLink="/">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2 pb-0" routerLink="/find-document">FIND DOCUMENT</a>
        </li>
      </ul>
      <a routerLink="/account-page" class="mr-5 row user-block">
        <a class="nav-link d-flex align-items-center user-name"routerLink="/account-page">{{ user?.userName }}</a>
        <span class="navbar-img ml-3" id="avatar">
          <img *ngIf="this.user?.avatarName !== null; else standImgNav" [src]="'http://127.0.0.1:8887/'+ this.user?.avatarName" class="h-100 w-100" alt="avatar">
          <ng-template #standImgNav>
            <img src="https://www.mesh.co.ke/images/profiles/default.jpg"  alt="Avatar">
           </ng-template>
        </span>
      </a>
    </div>
  </nav>
</div>
<div class="ContentContainer">
  <div class="PageTitleDiv d-flex align-items-center justify-content-center">
    <h2 class="m-5 PageTitle">{{ response?.title }}</h2>
  </div>
  <div class="container">
    <hr>
    <div class="row">
      <div class="w-50 docPrew">
        <div class="container ">
          <h3 class="text-center docPrewTitle">DOCUMENT PREVIEW</h3>
          <hr>
          <div class="card-dock w-100 d-flex justify-content-left flex-wrap" *ngIf="docs?.length >= 1; else elseBlock">
            <div class="card h-25 w-25 m-1" *ngFor="let doc of docs">
              <div class="type">
                <p class="text-center p-3 fileType">{{ doc?.fileType}}</p>
              </div>
              <div class="type"></div>
              <div class="card-body d-flex justify-content-center flex-wrap">
                <h5 class="cTitle">{{ doc?.name }}</h5>
                <a type="button" (click)="down( doc?.id )" class="btn cBtn w-100 h-25 btn-outline-dark">Download</a>
                <button *ngIf="response?.userId === this.user.id || this.user.role === 'admin'" type="button" (click)="removeFile( doc?.id )" class="btn cBtn btn-outline-dark w-100 h-25">Remove</button>
              </div>
            </div>
          </div>
          <ng-template #elseBlock>
            <h4 class="text-center mt-5 border-black" id="no-files">No Files</h4>
          </ng-template>
        </div>
        <div class="d-flex justify-content-center mt-5 row" *ngIf="this?.user?.id == this.response?.userId">
          <div class="input-group mb-2 add-file-btn w-75">
            <div class="input-group mb-3">
              <textarea type="text" class="form-control resizeN" aria-label="Username" aria-describedby="basic-addon1">http://localhost:4200/show-document-link/{{this.response.accessRules.documentLink}}
              </textarea>
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Link</span>
              </div>
            </div>
            <div class="custom-file ml-auto mr-auto">
              <input type="file" #file type="file" (change)="uploadFile($event)" multiple class="custom-file-input w-75" name="file" id="file" aria-describedby="inputGroupFileAddon03">
              <label class="custom-file-label" for="file">Add new file</label>
            </div>
          </div>
        </div>
      </div>
      <div class="w-50 documentDescription">
        <div class="container pb-5">
          <h3 class="text-center docPrewTitle">DOCUMENT INFO</h3>
          <hr>
          <div class="row mt-3 mb-3 d-flex align-items-center">
            <small class="date pl-3"> {{ response?.date | date }}</small>
            <div class="pl-5 pb-0 pt-0">
              <small class="ml-2" *ngFor="let tag of response?.tags"> {{ tag.tagName }}</small>
            </div>
          </div>
          <p> {{ response?.shortDescription }}
          </p>
        </div>
      </div>
    </div>
    <hr>
  </div>

  <form method="post" class="p-5">
    <h3 class="text-center commentTitle">Comments</h3>
    <div class="container formComment">
      <div class="form-group">
        <label for="comment">Document comments</label>
        <input type="text" required class="form-control DocumentEditContent h-75"
               name="comment" id="comment" aria-describedby="commentHelp"
               placeholder="Document comment" [(ngModel)]="commentContent">
        <small id="commentHelp" class="form-text text-muted">Add comment to this document.</small>
      </div>
      <div class="container  d-flex justify-content-center">
        <input type="button" (click)="sendComment()" class="mt-2 btn" value="Submit" />
      </div>
    </div>
  </form>
  <div class="commentList container p-5">
    <div class="container comment p-3" *ngFor="let comment of response?.comments">
      <div class="row">
        <p>{{comment.userName}}</p>
        <small class="ml-5">{{comment.date | date}}</small>
      </div>
      <p>
        {{comment.content}}
      </p>
    </div>
  </div>
  <div class="emptySpace"></div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
