*{
  box-sizing: border-box;
}
body{
  background-color: rgb(223, 223, 223);
  font-family: 'Space Grotesk', sans-serif;
  box-sizing: border-box;
}
.navbar-img img {
  height: 60px;
  border-radius: 50px;
}
.navbar-img:hover{
  cursor: pointer;
}
.mainContent
{
  height: 100vh;
  width: 70%;
  margin-left: 15%;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}
.img-fluid{
  max-height: 80%;
}
.profileInfo{
  margin-left: 5%;
}
.profileContent{
  padding-top: 20px;
  height: 30%;
  background: linear-gradient(315deg, rgb(213, 202, 200) 0%, rgb(114, 135, 150) 100%);
}
.avatartProfile img
{
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 150px;
}
.avatartProfile img:hover
{
  cursor: pointer;
  opacity: .3;
}
.avatartProfile img::after
{
  content: "<p>Change im</p>";
}
.profileInfo h3,
.profileInfo p {
  padding: 5px;
  color: #fff;
  background-color: #333;
  display: inline-block;
}


.ChangeImg { 
  display: block;
  position: relative; 
  }

.ChangeImg:after { 
  border-radius: 150px;
  content: 'CHANGE IMAGE'; 
  font-weight: 700;
  color: #fff;
  position: absolute;
  padding-top: 45%;
  text-align: center;
  top: 0; 
  left: 0; 
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  opacity: 0; }

  .ChangeImg:before { 
   content: '';
   position:
   absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: url(icon-path);
   opacity: 0;
 }

 .ChangeImg:hover:before,
 .ChangeImg:hover:after {
   opacity: 1; 
  }
  .documentContainer
  {
    border: 1px solid #999;
    margin: 2%;
  }
 .settingsPanel{
  background-color: #ffffff;
}
.pagination li a{
  color: #000;
}
.pagination{
  position: absolute;
  bottom: 0;
  left: 45%;
}
.publicAccess,
.privateAccess,
.linkAccess{
  background-color: green;
  color: #fff;
  padding: 5px;
  border-radius: 20px;
}
.privateAccess{
  background-color: brown;
}
.linkAccess{
  background-color: orange;
}
.documentDescription
{
  position: relative;
  border-left: 1px solid #333;
}
.buttons{
  position: absolute;
  bottom: 5%;
}
hr{
  background-color: #333;
}
.ContentContainer{
  width: 80%;
  background-color: #fff;
  margin-left: 10%;
}
.emptySpace{
  height: 200px;
}