body{
    background-color: rgb(223, 223, 223);
    font-family: 'Space Grotesk', sans-serif;
    box-sizing: border-box;
  }
  .navbar-img img {
    height: 60px;
    border-radius: 50px;
  }
  .navbar-img:hover{
    cursor: pointer;
  }
  .mainContent
  {
    height: 100vh;
    width: 70%;
    margin-left: 15%;
    background-color: #fff;
    overflow: hidden;
    position: relative;
  }