<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex align-items-end">
    <div class="collapse navbar-collapse d-flex align-items-end" id="navbarText">
      <div class="dropdown">
        <a class="mainmenubtn ml-5 navbar-brand p-2 pb-0" >SHARE DOCUMENT</a>
        <div class="dropdown-child">
          <a class="nav-link pb-0" routerLink="/">HOME <span class="sr-only">(current)</span></a>
          <a class="nav-link pb-0" routerLink="/find-document">FIND DOCUMENT</a>
          <a class="nav-link pb-0"routerLink="/account-page">{{ user?.userName | uppercase}}</a>
        </div>
      </div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link p-2 pb-0" routerLink="/">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2 pb-0" routerLink="/find-document">FIND DOCUMENT</a>
        </li>
      </ul>
      <a routerLink="/account-page" class="mr-5 row user-block">
        <a class="nav-link d-flex align-items-center user-name"routerLink="/account-page">{{ user?.userName }}</a>
        <span class="navbar-img ml-3" id="avatar">
          <img *ngIf="this.user?.avatarName !== null; else standImgNav" [src]="'http://127.0.0.1:8887/'+ this.user?.avatarName" class="h-100 w-100" alt="avatar">
          <ng-template #standImgNav>
            <img src="https://www.mesh.co.ke/images/profiles/default.jpg"  alt="Avatar">
           </ng-template>
        </span>
      </a>
    </div>
  </nav>
</div>
<div class="mainContent">
  <div class="PageTitleDiv d-flex align-items-center justify-content-center">
    <h1 class="m-5 PageTitle">ADD DOCUMENT</h1>
  </div>
  <form method="post" class="w-75 ml-auto mr-auto mt-5" enctype="multipart/form-data">
    <!-- Title -->
    <div class="form-group">
      <label for="title">Document  title</label>
      <textarea type="text" required class="form-control DocumentEditContent" name="title"
                id="title" aria-describedby="titleHelp" rows="1" placeholder="Document title"
                [(ngModel)]="title"></textarea>
      <small id="titleHelp" class="form-text text-muted">You can change document's title.</small>
    </div>
    <!-- Content -->
    <div class="form-group">
      <label for="content">Document description</label>
      <textarea type="text" required class="form-control DocumentEditContent"
                name="content" rows="5" id="content" aria-describedby="contentHelp" placeholder="Document content"
                [(ngModel)]="shortDescription"></textarea>
      <small id="contentHelp" class="form-text text-muted">Add document's description.</small>
    </div>
    <!-- File add -->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" disabled type="button" id="inputGroupFileAddon03">Add</button>
      </div>
      <div class="custom-file">
        <input type="file" #file type="file" (change)="uploadFile($event)" multiple class="custom-file-input" name="file" id="file" aria-describedby="inputGroupFileAddon03">
        <label class="custom-file-label" for="file">Choose file</label>
      </div>
    </div>
    <!-- Hidden fields -->
    <input type="text" name="tags" hidden id="tags">



    <!-- Tags -->
    <label for="testInput">Document tags</label>
    <input type="text" id="testInput" value=""/>
    <small id="tagsHelp" class="form-text text-muted">Press TAB for add tag, not more than 5</small>


    <!-- Access rules -->
    <div class="dropdown mt-3">
      <label for="dropdownMenuButton">Document access rules</label><br>
      <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Access rules
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li class="dropdown-item" (click)="accessRules = 'public' ">Public</li>
        <li class="dropdown-item" (click)="accessRules = 'private' ">Private</li>
        <li class="dropdown-item" (click)="accessRules = 'linkAccess' ">Link access</li>
      </ul>
      <small id="Help" class="form-text text-muted">
        Public - everybody can find your document,
        Private - nobody can find your document,
        Link access - people who has access link can find this document only
      </small>
    </div>
    <input type="button" (click)="SendDocument()" class="mt-3 btn" id="sendDocument" value="Submit" />
  </form>

</div>
