*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.mainBox
{
    color: white;
}
.pink{
    background-color: #E8B0F1;
    height: 120vh;
    background-image: url(img/bg_2.jpg);
}
.pink:first-child{
    background-image: url(img/bg_1.jpg);
}
.black{
    background-color: black;
    height: 120vh;
    background-image: url(img/bg_3.jpg);
    position: relative;
}
.downText
{
   position: absolute;
   bottom: 30%; 
}
.mainBox h4{
    font-size: 3rem;
}
.mainBox p{
    font-size: 2rem;
}
.clickPlace{
    border:0;
}
.buttonLogSign
{
    width: 50%;
}
a:hover{
    text-decoration: none;
}